@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue: #4f7df3;
  --pale-blue: hsl(223, 100%, 88%);
  --light-red:hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}
body {
  font-size: 20px;
}
/* colors */
.pale-text {
  color: var(--pale-blue);
}
.blue-text {
  color: var(--blue);
}
.light-red-text {
  color: var(--light-red);
}
.gray-text {
  color: var(--gray);
}
.very-dark-blue-text {
  color: var(--very-dark-blue);
}
/* backgrounds */
.pale-bg {
  background: var(--pale-blue);
}
.blue-bg {
  background: var(--blue);
}
.light-red-bg {
  background: var(--light-red);
}
.gray-bg {
  background: var(--gray);
}
.very-dark-blue-bg {
  background: var(--very-dark-blue);
}

.notify-hover:hover {
  transition: 0.4s ease-in-out;
  background: var(--pale-blue);
  color:white;
}